@import "src/styles/mixins.scss";

.eighth {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4.28rem;
    justify-content: center;

    @include width-restriction;

    @media screen and (width <=850px) {
        gap: 30px;
    }

    &__smallBlur {
        position: absolute;
        top: -20%;
        left: -20%;

        &__image {
            position: relative;
            width: 82.36rem;
            height: 65.58rem;
            z-index: 1;
        }
    }

    &__blur {
        position: absolute;
        top: -28%;
        right: -10%;

        &__image {
            position: relative;
            width: 102.36rem;
            height: 85.58rem;
            filter: blur(100px);
            transform: rotate(21.31deg);

            z-index: 1;
        }
    }

    &>span {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 1.54rem;
        line-height: 120%;
        z-index: 999;

    }

    &>h2 {
        max-width: 53.68rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 5.13rem;
        line-height: 5.99rem;
        text-transform: uppercase;
        margin-top: .86rem;
        z-index: 999;

        @media screen and (width <=850px) {
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 7.44rem;
        z-index: 999;

        @media screen and (width <=850px) {
            margin-bottom: 100px;
            align-items: flex-start;
            gap: 0;
        }

        &__left {
            display: flex;
            flex-direction: column;
            gap: 5.13rem;

            margin-bottom: 13.69rem;
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 5.13rem;
        }
    }
}

.review {
    width: 59.07rem;

    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    padding: 1.71rem 4.28rem;
    padding-left: 11.04rem;

    background: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(7.5px);

    @media screen and (850px < width <=1083px) {
        width: 46.64rem;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: .86rem;

        &__name {
            display: flex;
            align-items: center;
            gap: .86rem;

            &>h4 {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 2.56rem;
                line-height: 120%;
                text-transform: uppercase;
            }

            &__line {
                width: 31.93rem;
                height: 1px;
                background: #D9D9D9;
            }
        }

        &__text {
            display: flex;
            gap: 1.2rem;
            margin-left: -14.98rem;

            &__image {
                position: relative;
            }

            &>p {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1.54rem;
                line-height: 120%;
            }
        }
    }
}

.firstImage {
    width: 13.78rem;
    height: 19.94rem;
}

.secondImage {
    width: 13.78rem;
    height: 13.27rem;
}

.thirdImage {
    width: 13.78rem;
    height: 16.35rem;
}

.fourthImage {
    width: 13.78rem;
    height: 16.35rem;
}

.slider {
    position: relative;
    max-width: 340px;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;  

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__content {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
}

.slider-item {
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    position: absolute;
    top: 0;
}

.slider-item-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); 
}

.slider-item-exit {
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
}

.mobileReview {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__content {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 15px;
        background: rgba(120, 120, 120, 0.2);
        backdrop-filter: blur(7.5px);

        &__top {
            display: flex;
            gap: 10px;

            &__left {
                position: relative;
                width: 40px;
                height: 40px;
                min-width: 40px;
                min-height: 40px;
                border-radius: 500px;
            }

            &__right {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 7px;

                &__name {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &>span {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        opacity: 0.8;
                    }

                    &__line {
                        width: 100%;
                        height: 1px;

                        background: #D9D9D9;
                    }
                }

            }
        }

        &__bottom {
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            font-size: 10px;
            line-height: 120%;
        }
    }
}

.pagination {
    display: flex;
    align-items: flex-end;
}

.bullet {
    width: 102px;
    height: 1px;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.bullet-active {
    background-color: #D9D9D9;
    width: 102px;
    height: 3px;
}