@import "src/styles/mixins.scss";

.fifth {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.28rem;

    @include width-restriction;

    &__blur {
        position: absolute;
        top: 0;
        right: -10%;

        &__image {
            position: relative;
            width: 82.36rem;
            height: 65.58rem;
            z-index: 1;
        }
    }

    &>h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 5.13rem;
        line-height: 5.99rem;
        text-transform: uppercase;
    }

    &__first {
        display: flex;
        gap: 3.42rem;
        margin-left: 16.6rem;

        &__left {
            position: relative;
            width: 42.46rem;
            height: 44.77rem;

            margin-bottom: 13.69rem;
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 3.42rem;

            &__top {
                display: flex;
                flex-direction: column;
                gap: 2.56rem;

                &>h3 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 3.42rem;
                    line-height: 4.02rem;
                    text-transform: uppercase;
                }

                &>p {
                    width: 659px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 2.14rem;
                    line-height: 120%;
                }

                &__second {
                    display: flex;
                    align-items: center;
                    gap: 2.56rem;

                    &>h4 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 2.14rem;
                        line-height: 120%;
                        text-transform: uppercase;
                    }

                    &__line {
                        width: 42.8rem;
                        height: 1px;
                        background: #D9D9D9;
                    }
                }
            }
        }
    }
}