@import "src/styles/mixins.scss";

.seventh {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 3.42rem;

    @include width-restriction;

    &__smallBlur {
        position: absolute;
        top: -30%;
        left: 20%;

        &__image {
            position: relative;
            width: 82.36rem;
            height: 65.58rem;
            z-index: 1;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 2.16rem;
        margin-bottom: 11.98rem;
        z-index: 999;

        &>span {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 1.54rem;
            line-height: 120%;
        }

        &__images {
            position: relative;
            width: 59.07rem;
            height: 59.67rem;

            &__first {
                position: absolute;
                top: 0;
                left: 0;

                &__image {
                    position: relative;
                    width: 38.89rem;
                    height: 54.19rem;
                }
            }

            &__second {
                position: absolute;
                bottom: 0;
                right: 0;

                &__image {
                    position: relative;
                    width: 25.85rem;
                    height: 39.29rem;
                }
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 5.13rem;
        z-index: 999;

        &__top {
            display: flex;
            flex-direction: column;

            &>h2 {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 5.13rem;
                line-height: 5.99rem;
                text-transform: uppercase;
            }

            &>div {
                display: flex;
                align-items: center;
                gap: .86rem;

                &>h2 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 5.13rem;
                    line-height: 5.99rem;
                    text-transform: uppercase;
                }

                &>h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 2.14rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    margin-top: 1.6rem;
                }
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column;

            &>div {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                padding-top: .86rem;
                padding-bottom: 1.71rem;

                width: 61.64rem;
                border-top: 1px solid #D9D9D9;

                &>span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 2.56rem;
                    line-height: 120%;
                    text-transform: uppercase;
                }

                &>h3 {
                    width: 100%;
                    text-align: end;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 5.99rem;
                    line-height: 7.02rem;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                }
            }
        }
    }
}