@import "src/styles/mixins.scss";

.sixth {
    position: relative;

    display: flex;
    justify-content: center;
    
    @include width-restriction;
    
    @media screen and (width >850px) {
        align-items: center;
    }

    &__content {
        position: relative;
        width: 100%;
        height: 113.69rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.14rem;

        background-image: url("/static/img/sixthBg.png");
        background-repeat: no-repeat;
        background-size: cover;

        margin-bottom: 13.69rem;

        // padding: 6.84rem 6.42rem;

        @media screen and (width <=850px) {
            height: 2298px;
            margin-bottom: 100px;
            gap: 30px;
            padding: 40px 60px;
        }

        &>h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 5.13rem;
            line-height: 5.99rem;
            text-transform: uppercase;

            @media screen and (width <=850px) {
                font-weight: 300;
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__cards {
            display: flex;
            gap: 5.3rem;
            min-height: 98.55rem;

            @media screen and (850px < width <=1083px) {
                gap: 2rem;
            }

            @media screen and (width <=850px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
        }
    }
}

.plan {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2.56rem;

    background: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(7.5px);

    max-width: 34.58rem;
    height: 89.78rem;
    transition: all .3s;

    @media screen and (850px < width <=1083px) {
        max-width: 27.25rem;
        height: 90rem;
    }

    @media screen and (width <=850px) {
        max-width: 255px;
        gap: 20px;
        height: fit-content;
    }

    &__image {
        position: relative;
        width: 34.58rem;
        height: 27.39rem;
        transition: all .3s;

        @media screen and (850px < width <=1083px) {
            width: 27.25rem;
            height: 20.39rem;
        }

        @media screen and (width <=850px) {
            width: 255px;
            height: 229px;
        }
    }

    &__content {
        padding: 3.1rem 3.47rem;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .86rem;

        height: 100%;
        opacity: .6;
        transition: all .3s;

        @media screen and (width <=850px) {
            gap: 25px;
            padding: 25px;
            padding-top: 0;
            opacity: 1;
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: 1.71rem;
            transition: all .3s;

            @media screen and (width <=850px) {
                gap: 20px;
            }

            &__price {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .86rem;
                transition: all .3s;

                @media screen and (width <=850px) {
                    gap: 10px;
                }

                &>span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 2.56rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    transition: all .3s;

                    @media screen and (850px < width <=1083px) {
                        font-size: 2rem;
                    }

                    @media screen and (width <=850px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                    }
                }

                &>h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 3.85rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    transition: all .3s;

                    @media screen and (850px < width <=1083px) {
                        font-size: 2.5rem;
                    }

                    @media screen and (width <=850px) {
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 120%;
                    }
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: .86rem;
                transition: all .3s;

                @media screen and (width <=850px) {
                    gap: 10px;
                }

                &>div {
                    display: flex;
                    gap: 1.9rem;
                    align-items: center;
                    padding-bottom: .86rem;
                    border-bottom: 1px solid #fff;
                    transition: all .3s;

                    @media screen and (width <=850px) {
                        gap: 17px;
                        padding-bottom: 10px;
                    }

                    &>s {
                        transition: all .3s;
                        &>p {
                            width: 25.34rem;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-size: 1.54rem;
                            line-height: 120%;
                            transition: all .3s;

                            @media screen and (850px < width <=1083px) {
                                font-size: 1.3rem;
                            }

                            @media screen and (width <=850px) {
                                font-weight: 300;
                                font-size: 13px;
                                line-height: 120%;
                            }
                        }

                    }

                    &>p {
                        width: 25.34rem;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 1.54rem;
                        line-height: 120%;
                        transition: all .3s;

                        @media screen and (850px < width <=1083px) {
                            font-size: 1.3rem;
                        }

                        @media screen and (width <=850px) {
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 120%;
                        }
                    }
                }
            }
        }

        &__bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1.71rem;
            align-items: center;

            transition: all .3s;

            @media screen and (width <=850px) {
                gap: 15px;
            }

            &>span {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 1.71rem;
                line-height: 120%;
                text-transform: uppercase;

                @media screen and (width <=850px) {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 120%;
                }

                &>span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 2.56rem;
                    line-height: 120%;
                    text-transform: uppercase;

                    @media screen and (width <=850px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                    }
                }
            }

            &>a {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1.54rem;
                line-height: 120%;

                background: rgba(120, 120, 120, 0.3);
                backdrop-filter: blur(7.5px);

                padding: 1.2rem 11.04rem;
                transition: all .3s;

                @media screen and (850px < width <=1083px) {
                    padding: 1.2rem 8.04rem;
                }

                &:hover {
                    opacity: .7;
                }

                @media screen and (width <=850px) {
                    width: 100%;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 120%;
                    padding: 6px 71px;
                }
            }
        }
    }
}

.coolPlan {
    display: flex;
    flex-direction: column;
    gap: 2.56rem;

    padding-top: 0;

    background: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(7.5px);

    max-width: 44.34rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all .3s;
    
    @media screen and (width >850px) {
        height: 98.55rem;
    }

    @media screen and (850px < width <=1083px) {
        max-width: 32.25rem;
    }

    @media screen and (width <=850px) {
        max-width: 255px;
        gap: 20px;
        height: fit-content;
    }

    &__image {
        position: relative;
        width: 44.34rem;
        height: 36.55rem;
        transition: all .3s;

        @media screen and (850px < width <=1083px) {
            width: 32.25rem;
            height: 25.39rem;
        }

        @media screen and (width <=850px) {
            width: 255px;
            height: 229px;
        }
    }

    &__content {
        padding: 4.2rem 4.62rem;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4.02rem;

        height: 100%;
        opacity: 1;
        transition: all .3s;

        @media screen and (width <=850px) {
            gap: 25px;
            padding: 25px;
            padding-top: 0;
            opacity: 1;
        }

        &__top {
            &__price {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.24rem;
                transition: all .3s;

                @media screen and (width <=850px) {
                    gap: 10px;
                }

                &>span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 2.56rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    transition: all .3s;

                    @media screen and (width <=850px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                    }
                }

                &>h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 3.85rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    transition: all .3s;

                    @media screen and (width <=850px) {
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 120%;
                    }
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                transition: all .3s;

                @media screen and (width <=850px) {
                    gap: 10px;
                }

                &>div {
                    display: flex;
                    gap: 1.9rem;
                    align-items: center;
                    padding-bottom: .86rem;
                    border-bottom: 1px solid #fff;
                    transition: all .3s;

                    @media screen and (width <=850px) {
                        gap: 17px;
                        padding-bottom: 10px;
                    }

                    &>s {
                        &>p {
                            width: 25.34rem;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-size: 1.54rem;
                            line-height: 120%;
                            transition: all .3s;

                            @media screen and (850px < width <=1083px) {
                                font-size: 1.3rem;
                            }

                            @media screen and (width <=850px) {
                                font-weight: 300;
                                font-size: 13px;
                                line-height: 120%;
                            }
                        }

                    }

                    &>p {
                        width: 25.34rem;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 1.54rem;
                        line-height: 120%;
                        opacity: .8;
                        transition: all .3s;

                        @media screen and (850px < width <=1083px) {
                            font-size: 1.3rem;
                        }

                        @media screen and (width <=850px) {
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }

}


.smallThroughText {
    @media screen and (width <=850px) {
        opacity: .6;
    }
}

.last {
    @media screen and (width >850px) {
        height: 98.55rem;
    }
}